<div>
    <form ngForm #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div>
            <label for="email">Email</label>
            <input 
                type="email" 
                id="email"
                required
                ngModel
                name="email"
                />
        </div>
        <div>
            <label for="password">Password</label>
            <input 
                type="password" 
                id="password"
                required
                minlength="6"
                ngModel
                name="password"
                />
        </div>
        <div>
            <button
            [disabled]="!authForm.valid"
            >Entrar</button>
        </div>  
    </form>
</div>
